{% extends 'base.html.twig' %}

{% block content %}

<div class="alert alert-warning alert-dismissible" role="alert">
    <button class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <p>Keep in mind, that this is in <strong>pre-alpha state</strong>.<br />
        It&rsquo;s mostly interesting for developers and not very playable!</p>
</div>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ asset('images/player.png') }}" alt="The player model">
            <div class="caption">
                <h2>Client</h2>
                <p>With the client you can enjoy playing on a server. It comes with a nice launcher, which simplifies connecting. Additionally it supports many command line options.</p>
                <p><a href="/download/newspades.zip" class="btn btn-primary">Download Client</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ asset('images/helloScript.png') }}" alt="Example script 'hello.py'">
            <div class="caption">
                <h2>Server</h2>
                <p>Everyone can host a server. The server is easily extensible with scripts.</p>
                <p><a href="/download/newspades-server.zip" class="btn btn-primary">Download Server</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="{{ asset('images/modelEditor.png') }}" alt="The model editor">
            <div class="caption">
                <h2>Model Editor</h2>
                <p>With this editor you can modify the models of world objects.</p>
                <p><a href="/download/newspades-model-editor.zip" class="btn btn-primary">Download Model Editor</a></p>
            </div>
        </div>
    </div>
</div>

<p class="well">You can get the latest development version directly from GitHub <strong>(it might not be stable!)</strong>:<br /><a href="https://github.com/HendrikF/newSpades/archive/development.zip">https://github.com/HendrikF/newSpades/archive/development.zip</a>
</p>

{% endblock %}
