{% extends 'default/posts.html.twig' %}

{% block precontent %}

<div class="jumbotron">
    <div class="container">
        <img src="{{ asset('images/player.png') }}" alt="The Player" width="200" class="pull-right" />
        <h1>NewSpades</h1>
        <p>NewSpades is a first person shooter (FPS) inspired by Ace of Spades.<br />
            <em>It&rsquo;s open source!</em></p>
        <p><a class="btn btn-primary btn-lg" href="{{ path('about') }}">Learn more</a></p>
    </div>
</div>

{% endblock %}
