<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            Blog Tags
            <span class="glyphicon glyphicon-tags pull-right" aria-hidden="true"></span>
        </h3>
    </div>
    <div class="list-group">
        {% for tag in tags %}
            <a href="{{ path('tag', {title: tag.title}) }}" class="list-group-item">
                {{ tag.title }} <span class="badge">{{ tag.postCount }}</span>
            </a>
        {% else %}
            <span class="list-group-item disabled"><em>There are no tags.</em></span>
        {% endfor %}
    </div>
</div>
