{% extends 'base.html.twig' %}

{% block content %}

<p class="alert alert-danger" role="alert" style="font-size: 1.5em;">
    <span class="glyphicon glyphicon-ban-circle pull-right" aria-hidden="true" style="font-size: 1.6em;"></span>
    You are not allowed to access this resource
</p>

{% endblock %}

{% block sidebar %}

{% endblock %}
