{% extends 'AppBundle::base.html.twig' %}

{% block content %}

<p class="bg-primary padding bigger">NewSpades is a first person shooter (FPS) inspired by Ace of Spades.</p>
<h2>The Story</h2>
<p>In the beta phase <a href="http://buildandshoot.com/">Ace of Spades</a> was free to play and made a lot of fun. The 3rd party game server pyspades was written in Python and C++ and easily extensible, which means that many game modes were implemented. Now, after the beta phase, AoS is offered on Steam and graphically modernized.</p>
<p>To us, the old Beta-AoS has many advantages. One advantage is the ability to <strong>host community servers</strong>.</p>
<h2>Our Plan</h2>
<p>Since the client could be better than it currently is and the code is not available, we want to create a similar game. The focus should be on flexibility and community. Each server should give a completely unique experience. We want to reach this by making the server able to adapt all parameters of a game environment:</p>
<ul>
    <li>Number of teams</li>
    <li>Individual text messages on the screen</li>
    <li>Customize the available weapons</li>
</ul>
<h2>Some Ideas</h2>
<ul>
    <li>Open source</li>
    <li>As community-driven as possible</li>
    <li>Free to play</li>
    <li>Client does not need to be modified, server controls everything</li>
    <li>User registration online possible, not necessary</li>
    <li>User authentication <em>(like online-mode in Minecraft)</em></li>
    <li>Leaderboards</li>
    <li>Ban lists</li>
    <li>Everyone can run a server</li>
    <li>Global server list</li>
    <li>Server modifications <em>(Scripts)</em> should be written by the community</li>
</ul>

{% endblock %}
