{% extends 'AppBundle::base.html.twig' %}

{% block content %}

<p>You are welcome to contribute to the project.<br />
We have to manage a lot of stuff to create an awesome game, so any help is appreciated!</p>
<pre>git clone https://github.com/HendrikF/newSpades.git</pre>
<p>Main topics which help:</p>
<ul>
    <li>3D-sound! (OpenAL)</li>
    <li>Collision tests, ray casting</li>
    <li>Player, weapon and other models</li>
    <li>Ironsights</li>
    <li>Sounds, sounds, sounds!</li>
    <li>Web development for an online platform</li>
    <li>Feature suggestions and/or implementations</li>
    <li>Server scripts</li>
    <li>Beta testing</li>
    <li>Code reviews</li>
</ul>
<p class="text-muted">Another project is transmitter, our own networking library: <a href="https://github.com/HendrikF/transmitter">https://github.com/HendrikF/transmitter</a></p>

{% endblock %}
