{% extends 'AppBundle::base.html.twig' %}

{% block content %}

<p>You are welcome to contribute to the project.<br />
We have to manage a lot of stuff to create an awesome game, so any help is appreciated!</p>
<pre>git clone https://github.com/HendrikF/newSpades.git</pre>

<div class="panel panel-info">
    <div class="panel-heading">
        <h2 class="panel-title">Things which would help a lot</h2>
    </div>
    <div class="list-group">
        <div class="list-group-item">
            <h3 class="list-group-item-heading">3D-sound! (OpenAL)</h3>
            <p class="list-group-item-text">
                The ultimative goal would be to support 7.1 sound systems, but stereo would be a good start.<br />
Additionally it would be nice to have no dependencies for loading audio files.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Collision tests, ray casting</h3>
            <p class="list-group-item-text">
                These things are needed to verify whether a shot hit a player.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Player, weapon and other models</h3>
            <p class="list-group-item-text">
                The more models we can provide, the more creative the game servers can be.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Ironsights</h3>
            <p class="list-group-item-text">
                The ironsights should have a minimum resolution of 800&times;600 pixels.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Sounds, sounds, sounds!</h3>
            <p class="list-group-item-text">
                Because it&rsquo;s complicated to get free sounds, we ask the community to contribute self-made sounds.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Web development for an online platform</h3>
            <p class="list-group-item-text">
                This website is built with the symfony web framework in PHP.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Feature suggestions and/or implementations</h3>
            <p class="list-group-item-text">
                Any ideas are welcome.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Server scripts</h3>
            <p class="list-group-item-text">
                When the game is stable, it would be nice to provide scripts for all game modes.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Beta testing</h3>
            <p class="list-group-item-text">
                This might require some python experience at the moment.
            </p>
        </div>
        <div class="list-group-item">
            <h3 class="list-group-item-heading">Code reviews</h3>
            <p class="list-group-item-text">
                We are no experts and everybody makes mistakes... :)
            </p>
        </div>
    </div>
</div>

<h2>transmitter</h2>
<p class="text-muted">transmitter is our own networking library: <a href="https://github.com/HendrikF/transmitter">https://github.com/HendrikF/transmitter</a></p>

{% endblock %}
